/**
  * Andrew McGuiness
  * Project 2
  * 9AM Class
  * 3/2/2017
 **/

body {
    font-family: 'Ubuntu', sans-serif;
}

.required {
    color: red;
}

.formdiv {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formcell {
    padding: 10px;

}

.formlabel {

}

.textfield {
    width: 100%;
}

.light {
    background-color: whitesmoke;
    color: black;
}

.dark {
    background-color: black;
    color: lime;
}

.output {
    padding: 10px;
    width: 300px;

    margin: auto;
    margin-top: 50px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submitbutton {
    text-align: center;
}

#themediv {
    text-align: center;
}

.valid{
    border: 2px solid green;
}

.invalid{
    border: 2px solid red;
//box-shadow: 0 0 7px 2px red;
}